@media screen and (min-width: 500px) {
    header{
        background-color: black;
        color: white;
    }
    main{
        grid-column: 2;
        grid-template-columns: 1fr 1fr;

    }
        
    
}
