body{
    grid-template-columns: 4;
    margin: 0;
    padding: 0;
}

header{
    grid-row: 2/3;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #235789;
    margin-top: 0;
    margin: 0;
    color: white;
}

header img{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    
}

header h3{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


nav{
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    min-width: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    list-style: none;
    margin: 0;
} 

nav a{
    text-decoration: none;
}



h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

main{
    grid-row: 3/4;
    display: flex;
    flex-direction: row;
}

footer{
    grid-row: 4/5;
    text-align: center;
    background-color: #235789;
    margin: 0;
}
footer p{
    margin: 0;
    color: white;
}

section{
    display: flex;
    flex-wrap: wrap;
    background-color: #F5DEB3;
    margin: 2%;
    padding: 5px;
    justify-content: center;
}
nav ul{
    list-style: none;
    text-align: left;
}
/* Button */

.navigation{
    display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #fff;
	color: #000;
}

.navigation li{
    display: none;
    list-style: none;
}

.navigation li a{
    display: block;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation li a:hover{
    background-color: #F5DEB3;
    color: black;
    font-weight: 700;
}

#menu::before{
    content: "☰";
}
#menu.open::before{
    content:"|||"
}

#menu{
    margin: 10px;
    float: left;
    font-size: 1rem;
    padding: 5px;
    background-color: #F5DEB3;
    color: #000;
    float: left;
    margin-right: 0;
    width: 10%;
}

.open li{
    display: block;
    width: 100%;
}
.open li{
    list-style: none;
}

.open li a{
    display: block;

}

.active::before{
    content: "X";
}

.active{
    border: 1px solid white;
}

/* Join button */
#join{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: #235789;
    border-radius: 10px;
    width: 100px;
    height: 25px;
    font-size: 20px;
    color: #F5DEB3;
}