@media only screen and (min-width: 32em) {
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center; 
        background-color: #235789;
        margin-top: 0;
    }
    nav ul{
        margin: 0;
    }
    #menu{
        display: none;
    }
    .navigation{
        flex-direction: row;
        max-width: 100%;
        padding-left: 0;
    }
    .navigation li{
        display: block;
        list-style-type: none;
        flex-direction: row;
        background-color: #235789;
        
    } 
    .navigation li a{
        padding: 1rem;
        padding-top: 0;
    }
    .navigation li a:hover{
        padding: 1rem;
        padding-top: 0;
        background-color: #34618c;
    }
}