body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    
}
header{
    background-color: #add8e6;
    display: block;
    display: grid;
    grid-template-columns: 20% 80%;
    justify-content: center;
}

header img{
    width: 100%;
    height: auto;
    grid-column: 1/2;
    grid-row: 1;
    margin: 5px;
}
h1{
    font-family: 'Passion One', sans-serif;
    text-align: center;
    color: #313D41;
    width: 100%;
}
main h2{
    color: #313D41;
}
h2, h3, p{
    padding: 0;
    margin: 0;
    font-family: 'Taviraj', sans-serif;
    text-align: center;
    color: #313D41;
}
nav{
    display: flex;
    /* max-width: 375px; */
    min-width: none;
    width: 100%;
    text-align: center;
} 

#nav-menu{
    font-size: 1rem;
    border: 1px solid #6D9CCF;
    background-color: #fff;
    float: right;
    position: right;
    margin-left: 0;
    padding: 3px 7px 9px;
}
#menu::before{
    content: "☰";
}
#menu.open::before{
    content:"|||"
}
.nav{
    display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #fff;
	color: #000;
}
.nav li{
    display: none;
}
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    flex-direction: row;
    width: 100%;
} 

nav ul li{
    margin: 0;
    padding: 0;
    flex: 1 1 100%;
    color: white;
}
nav a{
   
    color: #313D41;
    text-decoration: none;
}
a:hover{
    border: 3px solid slategrey;
    background-color: slategray;
}
main{
    display: grid;
    gap: 10px;
}
section ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.open li{
    display: block;
    width: 100%;
}

.open li a{
    display: block;
}

.active::before{
    content: "X";
}

.active{
    border: 1px solid white;
}

footer{
    text-align: center;
    width: 100%;
}

/* Class selectors */
.card h3{
    color: #313D41;
}
.card{
    background-color: lightblue;
    color:#313D41;
    text-align: center;
}
.card a{
    text-decoration: none;
    color: #363636;
} 

