body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: 'Passion One', sans-serif;
    text-align: center;
}
h2, h3, p{
     font-family: 'Taviraj', sans-serif;
     text-align: center;
     color: darkgoldenrod;
}
nav{
    max-width: 375px;
    min-width: none;
    border: 1px solid slategray;
    color: slategray;
    width: 100%;
    text-align: center;
} 
nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
} 

nav ul li{
    flex: 1 1 100%;
}
nav a{
    display: block;
    color: slategray;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
}
a:hover{
    border: 3px solid slategrey;
}
section{
    background-color: lightblue;
    color: white;
    text-align: center;
}
footer{
    text-align: center;
}
