body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 2;
}
header{
    background-color: lightblue;
    display: block;
}

header img{
    width: 100%;
    height: auto;
}
h1{
    font-family: 'Passion One', sans-serif;
    text-align: center;
    color: darkgoldenrod;
    width: 100%;
}
h2, h3, p{
    padding: 0;
    margin: 0;
    font-family: 'Taviraj', sans-serif;
    text-align: center;
    color: darkgoldenrod;
}
nav{
    display: flex;
    max-width: 375px;
    min-width: none;
    border-bottom: 3px solid slategray;
    border-top: 3px solid slategray;
    color: slategray;
    width: 100%;
    text-align: center;
} 
nav ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    flex-direction: row;
    width: 100%;
} 

nav ul li{
    margin: 0;
    padding: 0;
    flex: 1 1 100%;
}
nav a{
   
    color: slategray;
    text-decoration: none;
}
a:hover{
    border: 3px solid slategrey;
    background-color: slategray;
}
main{
    display: grid;
    gap: 10px;
}
section ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

footer{
    text-align: center;
    width: 100%;
}

/* Class selectors */

.card{
    background-color: lightblue;
    color: white;
    text-align: center;
}
.card a{
    text-decoration: none;
    color: white;
} 

