@media screen and (min-width: 32em) {
    body{
        display: block;
        margin: 0;
        padding: 0;
        height: 100vh;
    }
    header{
      
        background-color: lightblue;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        height: auto;
    }
    header h1{
       width: 25%;
       margin: 0;
    }

    header button{
        width: 50%;
        height: auto;
        margin: 25px;
        /* position: absolute; */
        top: 10%;
        left: 50%;
        /* transform: translate(-50%, -50%);  */
        background-color: #235789;
        border-radius: 10px;
        width: 100px;
        height: 25px;
        margin: 0;
    }
    #dark-mode{
        margin: 0;
    }
     header img{
        width: 20%;
        height: 20%;
        padding: 0;
        margin: 0;
        
    }
    
    nav{
        
        max-width: 100%;
        height: 20px;
        background-color: #313D41;
        color: white;
    }
    nav ul{
        list-style: none;
        display: flex;
        align-content: stretch;
        align-items: center;
        justify-content: center;
        justify-items: center;
        
    }
    .navigation li{
        display: block;
        justify-content: center;
        
    }

    .navigation{
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: #fff;
        color: white;
        background-color:slategray;
        font-size: 1rem;
        padding: 3px;
    }

    nav ul a{
        color: lightblue;
        margin: 0;
        padding: 10px;
        font-size: 15px;
    }
    nav a:hover{
        background-color: #fff;
        color: #235789;
        border: none;
        padding: 5px;
    }
    #menu{
        display: none;
    }
   
    main{
        margin: 0;
        display: grid;
        width: 100%;
        gap: 10px;
        padding: 0;
    }
    main h3{
        margin: 10%;

    }
    picture{
        grid-column: 1/3;
        grid-row: 2/3;
        margin: 0;
        width: 100%;
    }
    picture img{
        margin: 0;
        width: 100%;
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }
  #temple-name{
        position: absolute;
        top: 80%;
        left: 20%;
        transform: translate(-75%, -75%);
        color: white;
        background-color: #235789;
        text-align: center;
        border-radius: 50%;
        font-size: large;
        padding: 10px;
    }
    section h2{
        color: #313D41;
        width: 100%;
        grid-row: 2/3;
        padding: 0;
        margin: 0;
    }
    main h2{
        grid-column: 1/3;
        color: #313D41;
    }
    #learning-activity{
        text-align: center;
        margin-left: 10px;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    #info{
       
       text-align: center;
       grid-column: 2/3;
       grid-row: 3/4;
    }

    .card{
        width: 100%;
        height: 100%;
        grid-row: 3/4;
    }
    footer{
       padding: 15px;
       margin: 15px;
       text-align: center;
    }

    #ririe-map{
        grid-column: 1/3;
        margin:3%;
        width: 100%;
        height: auto;
    }
    
   
}


